@charset "UTF-8";
/* CSS Document */

/*commmon*/
body, dl, dd, h1, h2, h3, h4, h5, h6, p, ol, ul, form { margin:0;padding:0;}
a { text-decoration: none; cursor: pointer;}
a:hover, a:active, a:visited, a:link{ text-decoration: none; cursor:pointer;}
h1, h2, h3, h4, h5, h6 { font-weight: normal;}
*:focus{outline:none;}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

i{ font-style:normal}
ul li{ list-style:none;}
input { outline: none;}
img { border: 0 none; display:block;}

html{ height:100%; min-height:100%;}
body{ 
    color: #333;
	font-size: 14px; 
	font-weight:normal;
	font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#f4f4f4;
	width:100%;
	min-width:1200px;
	height:100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.fr{ float:right;}
.fl{ float:left;}
.fz24{ font-size: 24px;}
.fz20{ font-size: 20px;}
.fz18{ font-size: 18px;}
.fz16{ font-size: 16px;}
.fz14{ font-size: 14px;}
.fz12{ font-size: 12px;}

.clearfloat:after{ display:block; content:''; clear: both;}


/*Tstore*/
.Tstore-main{
	width:1230px;
	margin:0 auto;
}
.Tstore-left{
	width:842px;
}
.Tstore-infor{
	width:100%;
	background:#fff;
	border: 1px solid #ECEBEF;
    border-radius: 4px;
	padding:14px 0 22px 20px;
	margin-bottom:10px;
	position:relative;
}
.Tstore-buleTitle{
	font-size:18px;
	color: #81C0D5;
	font-weight:600;
}
.Tstore-proName{
	width:100%;
	height:20px;
	border-bottom: 1px solid #ECEBEF;
	margin:4px 0 20px;
	position:relative;
}
.Tstore-proName p{
	padding:0 10px;
	font-size:14px;
	font-weight:600;
	background:#fff;
	line-height:20px;
	position:absolute;
	left:16px;
	top:9px;
	z-index:2;
}
.text-padding{ 
    line-height:24px; 
	padding-left:25px;
}
.text-padding span{ color:#666;}
a.btn-zhankai{
	font-size: 12px;
    color: #00ADC4;
	position:absolute;
	right:60px;
	bottom:18px;
	z-index:2;
}
.Tstore-jiage{	
	text-align:right;
	padding-right:45px;
	padding-bottom:16px;
}
.yuanjia{ padding-right:30px; text-decoration:line-through; color:#666;}
.Tstore-jiage .fz14, .Tstore-jiage .fz16{color: #EE6D23;}
.Tstore-card{
	width:100%;
	padding:0 20px 24px;
}
.Tstore-card li{
	float:left;
	width:244px;
	height:156px;
	padding-left:20px;
	background: #FFFFFF;
    box-shadow: 0 6px 17px 0 rgba(0,0,0,0.10);
	-webkit-box-shadow:0 6px 17px 0 rgba(0,0,0,0.10);
	-moz-box-shadow:0 6px 17px 0 rgba(0,0,0,0.10);
    border-radius: 2px;
	margin:0 5px 10px;
}
.Taocan-title{
	width:100%;
	height:44px;
	line-height:44px;
	border-bottom:1px dashed #e8e8e8;
}
.Taocan-title .fl{ color:#666;}
.Taocan-title .fr{ padding-right:14px;color: #3FC1D7;}
.Taocan-text{
	padding-top:10px;
	color:#999;
	font-size:12px;
	line-height:18px;
}
.Tstore-num-box{ 
    color:#666;
	width:100%;
	height:28px;
	line-height:28px;
	padding-left:26px;
}
.Tstore-num-input{
	width:90px;
	height:28px;
	line-height:28px;
	margin-left:10px;
	border:1px solid #e4e4e4;
	padding-left:8px;
}
.Tstore-num-input input[type="text"], .Tcode-box input[type="text"]{
	display:block;
	width:100%;
	height:100%;
	outline:0;
	border:none;
}
.input-choice{ width:26px; height:28px; background:#f4f4f4; margin-left:1px;}
.i-choice-b, .i-choice-t{ display:block; position:relative; cursor: pointer; width:26px; height:14px;}
.i-choice-t:after{
 position: absolute;
 top: 6px;
 left:8px;
 display: inline-block;
 border-bottom: 5px solid #999;
 border-right: 5px solid transparent;
 border-left: 5px solid transparent;
 content: '';
}
.i-choice-b:after{
 position: absolute;
 top: 4px;
 left:8px;
 display: inline-block;
 border-top: 5px solid #999;
 border-right: 5px solid transparent;
 border-left: 5px solid transparent;
 content: '';
}
.Tstore-infor-mid{
	width:100%;
	background:#fff;
	border: 1px solid #ECEBEF;
    border-radius: 4px;
	padding:16px 20px;
	margin-bottom:10px;
}
.Tcode-box{
	width:260px;
	height:28px;
	line-height:28px;
	margin-left:20px;
	border:1px solid #e4e4e4;
	padding-left:8px;
}
a.Tcode-btn{
	display:block;
	width:60px;
	height:28px;
	line-height:26px;
	border:1px solid #e4e4e4;
	border-radius:2px;
	text-align:center;
	font-size:12px;
	margin-left:10px;
}
a.Tcode-btn-bule{
	display:block;
	width:120px;
	height:28px;
	line-height:26px;
	color: #02BBD2;
	font-size:12px;
	margin-left:28px;
}
.invoice-Tcolor{
	color:#666;
	line-height:28px;
	padding-left:10px;
}
a.btn-xg { color: #02BBD2;}

.Tstore-right{
	width:378px;
	background:#fff;
	border: 1px solid #ECEBEF;
    border-radius: 4px;
}
.Tstore-payTitle{
	width:100%;
	height:60px;
	line-height:60px;
	background: #7A8CA3;
	color:#fff;
	font-size:18px;
	padding-left:20px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.Tstore-payBox{
	padding:24px 0 70px 24px;
	color:#666;
}
.Tstore-payBor{
	width:100%;
	height:20px;
	margin-top:16px;
	margin-bottom:20px;
	border-bottom:1px solid #ECEBEF;
	position:relative;
}
.Tstore-payBor p{
	background:#fff;
	position:absolute;
	top:8px;
	left:0;
	z-index:2;
}
.color-9{ color:#999;}
.xiangmu-box{width:100%; margin-bottom:14px;}
.Tstore-pay-jine{
	width:100%;
	line-height:22px;
}
.Tstore-pay-jine span{ color:#DC7011;}

a.Tstore-buyBtn {
  display: block;
  width: 288px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  background-color:#00bbd2;
  margin:0 auto;
}
a.Tstore-buyBtn:hover {
  background-color:#00ADC4;
}
.xy-style {
  width: 180px;
  margin: 14px auto 40px;
  overflow: hidden;
}
.txt-check {
  display: block;
}
.broder-fg {
  width: 210px;
  margin-left: 20px;
  height: 12px;
  border-bottom: 1px solid #f0f0f0;
}
a.clickable{ color:#44BBD2;}










